### 1) Print the items in the list in ascending order.

        For Example
        Sample_list = [15, 1, 4, 19, 3,7]
        
        Expected Output
        1
        3
        4
        7
        15
        19

In [2]:
#initialize a list
Sample_list = [***]

#for each item in the sorted list, traverse the list
for i in sorted(***):
    
    #print the item
    print(***)

1
3
4
7
15
19

### 2) Create a list, areas, that contains the area of the hallway (hall), kitchen (kit), living room (liv), bedroom (bed) and bathroom (bath), in this order. Use the predefined variables.

        area variables (in square meters)
        hall = 25.25
        kit = 50.0
        liv = 30.0
        bed = 9.75
        bath = 8.50
        
        Print areas with the print() function
        
        Expected Output
        [25.25, 50.0, 30.0, 9.75, 8.5]

In [ ]:
# Define Areas Variables 
hall = ***
kit = ***
liv = ***
bed = ***
bath = ***

# Create list areas
areas = [hall,kit,liv,bed,bath]

# Print areas
print (***)

### 3) Print out the second element from the areas list, so it should print 25.25.

        Subset and print out the last element of areas, being 8.50. Using a negative index makes sense here!
        Select the number representing the area of the living room and print it out.
        
        Create the areas list
        areas = ["hallway", 25.25, "kitchen", 50.0, "living room", 30.0, "bedroom", 9.75, "bathroom", 8.50]

In [ ]:
# Create the areas list
areas = [***]

In [ ]:
# 1) Print out the second element from the areas list, so it should print 25.25
print(***)

In [ ]:
# 2) Print out last element from areas

print(***)

In [ ]:
 # 3) Print out the area of the living room
    
print(***)

### 4) Write a program, which will find all such numbers between 300 and 900 (both included) such that each digit of the number is an even number.

        The numbers obtained should be printed in a comma-separated sequence on a single line.
        
        Expected Output
        
        [300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900]

In [6]:
# initialize empty list
values = ***

#for each i in the range, traverse the range
for i ***:
    #check each digit in i is divisible by 2
    if ***:
        #assign it to the list values
        ***
        
# Print values            
print(values)

[300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900]

### 5)  Stack And Queue 

        5.1) Stack -“Last-in, first-out”. 

        In Python, we have inbuilt functions -

        To push an item, we use append() function and to pop out an element we use pop() function.

        Stack using list 

        stack = ["classroom", "student", "Teachers"]

        Expected Output
        ['classroom', 'student', 'Teachers', 'principal', 'laboratory']
         laboratory
        ['classroom', 'student', 'Teachers', 'principal']
         classroom
        ['classroom', 'student', 'Teachers']

In [11]:
# Create list named stack 
stack = [***]

# Add principal to List
stack.append("principal")

# Add laboratory to List
stack.append("laboratory")

# print whole stack
print(stack)

# print the last element added
print(stack.pop())

#print stack after popping 
print(***)

#pop and print the first element added
print(***)

#print the original stack 
print(***)

['classroom', 'student', 'Teachers', 'principal', 'laboratory']
laboratory
['classroom', 'student', 'Teachers', 'principal']
classroom
['student', 'Teachers', 'principal']


### 5.2)  Queue “First-in, first-out”
          queue = deque(["classroom", "student", "Teachers",])

          Expected Output
          
          deque(['classroom', 'student', 'Teachers'])
          deque(['classroom', 'student', 'Teachers', 'principal'])
          deque(['classroom', 'student', 'Teachers', 'principal', 'laboratory'])
          classroom
          deque(['student', 'Teachers', 'principal', 'laboratory'])
          laboratory
          deque(['student', 'Teachers', 'principal'])

In [14]:
# Import required package
from collections import deque

# Create list named queue
queue = deque(***)

# Print the Queue
print(queue)

# Add principal to queue
queue.append(***)

# Print the Queue
print(***)

# Add laboratory to queue
queue.append(***)

# Print the Queue
print(***)


# Now performing First-in First Out Operations

# print the first element, so "classroom"
print(queue.popleft())    

#print the Queue
print(***)

#print the last element, so "laboratory"
print(***)

#print the Queue
print(queue)

deque(['classroom', 'student', 'Teachers'])
deque(['classroom', 'student', 'Teachers', 'principal'])
deque(['classroom', 'student', 'Teachers', 'principal', 'laboratory'])
classroom
deque(['student', 'Teachers', 'principal', 'laboratory'])
laboratory
deque(['student', 'Teachers', 'principal'])